{% extends "layouts/doc-layout" %}

{% block title %}Escape Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Escape Filter</h1>

<p>Converts HTML special characters to entities.</p>

<h2>Syntax</h2>
<pre><code>{% "<script>" | escape %}</code></pre>
{% end %}
