{% extends "layouts/doc-layout" %}

{% block title %}First Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>First Filter</h1>

<p>Returns the first element of an array.</p>

<h2>Syntax</h2>
<pre><code>{% array | first %}</code></pre>
{% end %}
