{% extends "layouts/doc-layout" %}

{% block title %}Join Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Join Filter</h1>

<p>Combine array elements into a string.</p>

<h2>Syntax</h2>
<pre><code>{% array | join: "separator" %}</code></pre>
{% end %}
