{% extends "layouts/doc-layout" %}

{% block title %}Last Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Last Filter</h1>

<p>Returns the last element of an array.</p>

<h2>Syntax</h2>
<pre><code>{% array | last %}</code></pre>
{% end %}
