{% extends "layouts/doc-layout" %}

{% block title %}Plus Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Plus Filter</h1>

<p>Adds a number to the input.</p>

<h2>Syntax</h2>
<pre><code>{% 5 | plus: 3 %}</code></pre>
<p><strong>Output:</strong> 8</p>
{% end %}
