{% extends "layouts/doc-layout" %}

{% block title %}Sort Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Sort Filter</h1>

<p>Sorts an array in ascending order.</p>

<h2>Syntax</h2>
<pre><code>{% array | sort %}</code></pre>
{% end %}
