{% extends "layouts/doc-layout" %}

{% block title %}Split Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Split Filter</h1>

<p>Split a string into an array by a delimiter.</p>

<h2>Syntax</h2>
<pre><code>{% "a,b,c" | split: "," %}</code></pre>
{% end %}
