{% extends "layouts/doc-layout" %}

{% block title %}Truncate Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Truncate Filter</h1>

<p>Shortens a string to a specified length.</p>

<h2>Syntax</h2>
<pre><code>{% "string" | truncate: length %}</code></pre>
{% end %}
