{% extends "layouts/doc-layout" %}

{% block title %}Assign Tag - Wisp Template Documentation{% end %}

{% block body %}
<h1>Assign Tag</h1>

<p>Creates or updates variables in the template context.</p>

<h2>Syntax</h2>
<pre><code>{% raw %}
{% assign .variable = value %}
{% assign .variable = expression %}
{% endraw %}</code></pre>

<h2>Examples</h2>
<pre><code>{% raw %}
{% assign .name = "World" %}
Hello, {% .name%}!

{% assign .total = 10 + 5 %}
{% endraw %}</code></pre>

<h2>Notes</h2>
<ul>
  <li>Creates variables in current scope</li>
  <li>Can store computed values</li>
</ul>

<h2>See Also</h2>
<ul>
  <li><a href="/docs/tags/let">let tag</a></li>
  <li><a href="/docs/tags/capture">capture tag</a></li>
</ul>
{% end %}
