{% extends "layouts/doc-layout" %}

{% block title %}Break Tag - Wisp Template Documentation{% end %}

{% block body %}
<h1>Break Tag</h1>

<p>Exits a loop early.</p>

<h2>Syntax</h2>
<pre><code>{% raw %}
{% break %}
{% endraw %}</code></pre>

<h2>Examples</h2>
<pre><code>{% raw %}
{% for .item in .items %}
{% if .item.stop %}
  {% break %}
{% end %}
{% .item.name%}
{% end %}
{% endraw %}</code></pre>

<h2>See Also</h2>
<ul>
  <li><a href="/docs/tags/for">for tag</a></li>
  <li><a href="/docs/tags/while">while tag</a></li>
  <li><a href="/docs/tags/continue">continue tag</a></li>
</ul>
{% end %}
