{% extends "layouts/doc-layout" %}

{% block title %}Comment Tag - Wisp Template Documentation{% end %}

{% block body %}
<h1>Comment Tag</h1>

<p>Removes content from output.</p>

<h2>Syntax</h2>
<pre><code>{% raw %}
{% comment %}This is ignored{% end %}
{% endraw %}</code></pre>

<h2>Notes</h2>
<ul>
  <li>Content is completely removed from output</li>
  <li>Useful for documentation in templates</li>
</ul>

<h2>See Also</h2>
<ul>
  <li><a href="/docs/tags/raw">raw tag</a></li>
</ul>
{% end %}
